.navBar {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e2c40;
    position: absolute;
    top: 0px;
}

.link{
    font-size: 30px;
    margin-left: 40px;
    color: #c1e1a7;
}

.logOut {
    background-color: #1a4a5a;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.left {
    padding-right: 30px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}